<!DOCTYPE html>
<html>
<head>
	<title>Thumbnails</title>
	<link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>
	<h1>
		Thumbnails
	</h1>
	<h2>
		Login!
	</h2>

	<form action="/login" method="POST">
		<p>
			<input type="text" name="username" placeholder="Username">		
		</p>
		<p>
			<input type="password" name="password" placeholder="Password">		
		</p>
		<button>
			Login
		</button>
	</form>
	Don't have an Account? <a href="/signup"> Sign Up</a>
</body>
</html>