<!DOCTYPE html>
<html>
<head>
	<title>Thumbnails</title>
	<link rel="stylesheet" type="text/css" href="/signup.css">
</head>
<body>
	<h1>
		Thumbnails
	</h1>
	<h2>
		Sign Up 
	</h2>

	<form action="/signup" method="POST">
		<p>
			<input type="text" name="username" placeholder="Username">			
		</p>
		<p>
			<input type="password" name="password" placeholder="Password">		
		</p>
		<button>
			Submit!
		</button>
	</form>
</body>
</html>