<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST" action="/upload" enctype="multipart/form-data">
		<div>
			<label>Select Image:</label>
			<input type="file" name="image" />
		</div>
		<div>
			<input type="submit" name="btn_upload_profile_pic" value="Upload" />
		</div>
	</form>

</body>
</html>